#SunQuesCompReal{
    position:absolute;
    left: 320px;
    top:100px;
}

#SunQuesCompAbs{
    position:absolute;
    left: 900px;
    top:100px;
}

#SunQues{
    position:absolute;
    left: 320px;
    top:100px;
}

#AnsConfi{
    position: absolute;
    left: 320px;
    top: 100px;
}

#AnsColor{
    position: relative;
    left: 50%;
}

#AnsNum{
    position: relative;
    left: 50%;
}

#LineQues{
    position:relative;
    left:50%;
    top: 20px;
}