#SunQuesCompReal{
    position:absolute;
    left: 320px;
    top:100px;
}

#SunQuesCompAbs{
    position:absolute;
    left: 900px;
    top:100px;
}

#SunQues{
    position:absolute;
    left: 320px;
    top:100px;
}

#wordsclouds{
    position:absolute;
    left:1250px;
    top:50px;

}