@import '../node_modules/antd/dist/antd.css';


.ant-layout-header,
.ant-layout-footer {
  color: rgb(255, 255, 255);
  background: rgb(65, 109, 255);
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: rgb(65, 109, 255);
  height: 100%;
  line-height: 120px;
  background: #e3d5fd;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2%;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  padding: 1%;
  min-height: 80%;
  color: #fff;
  line-height: 120px;
  background: #ceebff;
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
.code-box-demo .ant-layout + .ant-layout {
  margin-top: 48px;
}


